# MongoDB Connection String
MONGODB_URI=mongodb+srv://username:password@your-cluster-name.v6osiwa.mongodb.net/your-db-name?retryWrites=true&w=majority

# JWT Secret (if needed)
# JWT_SECRET=your_jwt_secret_here
