# MongoDB Connection String
MONGODB_URI=MongoDB Atlas Connection String

# JWT Secret
 JWT_SECRET=https://jwtsecrets.com/#generator

# Email
EMAIL_HOST= smtp.gmail.com
EMAIL_PORT= 587
EMAIL_USER= 'your email'
EMAIL_PASSWORD= email->gestionar google account->seguridad->habilitar 2FA->Contraseñas de aplicación